body {
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.3rem;
}


.btn-pink {
  background-color: pink;
}

#titre {
  margin-top: 25px;
}

.design {
  color: pink;
}

.info {
  font-family: 'Courgette', cursive;
}

.page-footer .fab {
  color: pink;
}

.page-footer {
  margin: 0;
  padding: 1.5rem;


}

.material-icons{
margin-left: -30px;
position: absolute;
margin-top: 3px;


}

.fa-linkedin {
  margin-right: 0.5rem;
}

.print
{
  margin-left: 3rem;
}
