body {
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.3rem;
}

.btn-pink {
  background-color: pink;
}

#titre {
  margin-top: 25px;
}

.design {
  color: pink;
}

.info {
  font-family: 'Courgette', cursive;
}
